<div class="row">
    <div class="container-fluid aside" style="background-color: #40189D;">
        <div class="row p-4">    
            <div class="image-wrapper">
                <img src="assets\images\sidebar\gloh.png">
                <div class="text-wrapper px-3  text-white ">
                  <h2>Jobie</h2>
                </div>
              </div>
            
        </div>   
        
        <ul class="list-grouplist-unstyled list-unstyled">
   
        <li class="list-group-item border-0" style="background:  #40189D;">
        <a class="nav-link    " href="#"><img src="assets\images\sidebar\Vector.png" width="29" height="29"><span class="px-3">Dashboard</span></a>
        </li>
        <li class="list-group-item border-0       " style="background:  #40189D;">
        <a class="nav-link    " href="#"><img src="assets\images\sidebar\image 10.png" width="29" height="29"><span class="px-3">Job Providers</span></a>
        </li>
        <li class="list-group-item border-0       "style="background:  #40189D;">
        <a class="nav-link  " href="#"><img src="assets\images\sidebar\image 6.png" width="29" height="29"><span class="px-3">New Registrations</span></a>
        </li>
        <li class="list-group-item  border-0     "style="background:  #40189D;">
        <a class="nav-link    " href="#"><img src="assets\images\sidebar\image 9.png" width="29" height="29"><span class="px-3">Job Seekers</span></a>
        </li>
        <li class="list-group-item  border-0     "style="background:  #40189D;">
        <a class="nav-link    " href="#"><img src="assets\images\sidebar\ic_search.png" width="29" height="29"><span class="px-3">Jobs</span></a>
        </li>
        <li class="list-group-item  border-0     "style="background:  #40189D;">
            <a class="nav-link    " href="#"><img src="assets\images\sidebar\frame.png" width="29" height="29"><span class="px-3">My Profile</span></a>
        </li>
        <li class="list-group-item  border-0     "style="background:  #40189D;">
            <a class="nav-link    " href="#"><img src="assets\images\sidebar\Vector (1).png" width="29" height="29"><span class="px-3">Messages</span></a>
        </li>
        <li class="list-group-item  border-0     "style="background:  #40189D;">
            <a class="nav-link    " href="#"><img src="assets\images\sidebar\image 7.png" width="29" height="29"><span class="px-3">Settings</span></a>
        </li>
        <li class="list-group-item  border-0     "style="background:  #40189D;">
            <a class="nav-link    " href="#"><img src="assets\images\sidebar\image 8.png" width="29" height="29"><span class="px-3">Log Out</span></a>
        </li>


        </ul>
    </div>
</div>

